:root {
    --first-color: #222831;
    --second-color: #393e46;
    --third-color: #f96d00;
    --fourth-color: #f2f2f2;
}

html {
    height: 100px;
    width: 200px;
    box-sizing: content-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--first-color);
    margin: auto;
    padding: auto;
}

h1 {
    margin: 0px;
    font-size: 15px;
    text-align: center;
    color: var(--third-color);
}